/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/

body {
  margin: 0;
  background: url(../../Images/hatter.jpg) ;
}
 
.nav-pills>li>a {
  border-radius: 222px;
}

#header {
  background: url(../../Images/bannerke.jpg) ;
    background-repeat: no-repeat;
    padding: 200px 20px 0px 0px;
    max-width: 960px;
    margin: 0 auto;
}
#header h1#sitename {
  margin: 30px 0 30px 0;
}

#content {
  padding: 10px 20px;
  background-color: #ede8be;
  max-width: 960px;
  margin: 0 auto;
}

.news {
  margin-bottom: 15px;
}
.news .title {
  border-bottom: 1px solid #555;
  color: #555;
  font-weight: bold;
  font-size: 1.3em;
}
.news .text {
  margin: 5px 0;
  
}
.news .date {
  text-align: right;
  font-style: italic;
}

#footer {
  background-color: #7b0603;
  color: white;
  padding: 10px 20px;
  max-width: 960px;
    margin: 0 auto;
}

#header #navigation a {
    color: white;
    background: black;
    
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
}

/*
	news modul
*/

.shortText {
  width: 450px;
}

.leadText {
  width: 450px;
  height: 50px;
}

.longText {
  width: 450px;
  height: 200px;
}

.tid {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.tag {
  width: 100px;
  height: 30px;
  vertical-align: middle;
}

.title {
  width: 500px;
  height: 30px;
  vertical-align: middle;
}

.left {
    float: left;
    margin-right: 5px;
}

.bejegyzes {
    margin-top: 10px;
    background: #ddd8ae;
    padding: 10px;
}
.bejegyzes .nev {
    font-weight: bold;
}
.bejegyzes .datum {
    font-style: italic;
    font-size: 0.8em;
}